
.navbar-container{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-left{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-logo img{
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.nav-right{
    
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}



.nav-items {
    list-style-type: none;
    /* Remove bullet points */
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.nav-item {
    margin: 0 10px;
}

.nav-item-link {
    text-decoration: none;
    color: chocolate;
    font-weight: bold;
}

.nav-item-link:hover {
    color: #007bff;
    /* Change color on hover */
}

.hr-line{
    height: 5px;
    margin: 0;
    background-color: black;
    fill: black;
}

.hero-article-image img{
    height: 100px;
        width: 100px;
}